<style>

    /*
    |---------------------------------
    | Foundation 5 Mega Menu CSS Hacks
    |---------------------------------
    */

    * {
        font-family: 'Droid Sans', sans-serif;
    }

    .mega-menu {
        border-top: 1px solid #222;
    }

    .mega-menu .f-dropdown.content {
        background-color: yellow
    }

    ;

    .mega-menu a + div {
        background-color: red;
        height: 110px;
        transition: height .33s ease;
    }

    .mega-menu a + div.open .large.full-width {
        height: 272px;
        background-color: green;
        transition: height .33s ease;
    }

    /* Change tab hover state to same colour as content background */
    .mega-menu .top-bar .top-bar-section li:hover > a {
        color: #222;
        background: #FFF;
    }

    /* Remove Foundation dropdown arrow */
    .mega-menu .f-dropdown:before,
    .mega-menu .f-dropdown:after {
        border-style: none;
    }

    .mega-menu .f-dropdown.large {
        max-width: 100%;
    }

    /* Remove content top border, align to left and add gradient to bottom of content */
    .mega-menu .open {
        border-top: none;
        border-color: #CCC;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 96%, #d3d3d3 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(96%, #ffffff), color-stop(100%, #d3d3d3)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 96%, #d3d3d3 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%, #ffffff 96%, #d3d3d3 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 96%, #d3d3d3 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%, #ffffff 96%, #d3d3d3 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d3d3d3', GradientType=0); /* IE6-9 */
        left: 0 !important; /* <!-- !important overwrites inline style applied via Foundation JS */
    }

    .mega-menu .content ul li {
        float: none;
    }

    /* Remove hover state and background colour from content headings */
    .mega-menu .content[class*="content"] label,
    .mega-menu .content[class*="content"] label:hover {
        height: 3em;
        line-height: 3em;
        font-weight: bold;
        color: #222;
        background: #FFF;
        border-bottom: 1px solid #CCC;
    }

    /* Change content link colour background to same as content background */
    .mega-menu .top-bar .content[class*="content"] a {
        padding: 0;
        color: #222;
        background: none;
    }

    /* Add hover state to content links */
    .mega-menu .content[class*="content"] a:hover {
        background: none;
        text-decoration: underline;
    }

    .mega-menu .spacer {
        width: 200px;
    }

</style>

<!--<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Race Face Performance Products</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            <li class="active"><a href="#">Right Button Active</a></li>
            <li class="has-dropdown">
                <a href="#">Right Button Dropdown</a>
                <ul class="dropdown">
                    <li><a href="#">First link in dropdown</a></li>
                    <li class="active"><a href="#">Active link in dropdown</a></li>
                </ul>
            </li>
        </ul>

        <ul class="left">
            <li><a href="#">Left Nav Button</a></li>
        </ul>
    </section>
</nav>-->

<div class="">
    <div class="mega-menu">
        <nav class="top-bar" data-topbar="">
            <section class="top-bar-section">
                <ul class="title-area">
                    <li class="show-for-large-up name"><a href="#"><img src="http://raceface.com/i/header.jpg"/></a></li>
                    <li class="hide-for-large-up name"><h1><a href="#">RF</a></h1></li>
                    <!--<li class="menu-icon"><a href="#"><span></span></a>
                    </li>-->
                </ul>
                <!--<ul class="title-area hide-for-large-up">
                    <li class="name">
                        <h1><a href="#">R</a></h1>
                    </li>
                </ul>-->
                <ul class="right">
                    <!-- Menu 1 -->
                    <li>
                        <a href="#" data-dropdown="menu-2" data-options="is_hover:true">
                            <strong>Components</strong>
                        </a>

                        <div id="menu-2" data-dropdown-content="" class="large f-dropdown content row">
                            <div class="large-4 columns">
                                <!-- Heading 1 -->
                                <ul>
                                    <li><label>Heading 1</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                            <div class="large-4 columns">
                                <!-- Heading 2 -->
                                <ul>
                                    <li><label>Heading 2</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                            <div class="large-4 columns">
                                <!-- Heading 3 -->
                                <ul>
                                    <li><label>Heading 3</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-dropdown="menu-1" data-options="is_hover:true">
                            <strong>Guards</strong>
                        </a>
                        <div id="menu-1" data-dropdown-content="" class="large full-width f-dropdown content row">
                            <div class="large-6 columns">
                                <!-- Heading 1 -->
                                <div class="row fullWidth">
                                    <div class="large-12 columns">
                                        <ul>
                                            <li><label>Heading 1</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <ul>
                                            <li><a href="#">Link 1</a></li>
                                            <li><a href="#">Link 2</a></li>
                                            <li><a href="#">Link 3</a></li>
                                            <li><a href="#">Link 4</a></li>
                                        </ul>
                                    </div>
                                    <div class="large-6 columns">
                                        <ul>
                                            <li><a href="#">Link 5</a></li>
                                            <li><a href="#">Link 6</a></li>
                                            <li><a href="#">Link 7</a></li>
                                            <li><a href="#">Link 8</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="large-6 columns">
                                <!-- Heading 2 -->
                                <div class="row">
                                    <div class="large-12 columns">
                                        <ul>
                                            <li><label>Heading 2</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns">
                                        <ul>
                                            <li><a href="#">Link 1</a></li>
                                            <li><a href="#">Link 2</a></li>
                                            <li><a href="#">Link 3</a></li>
                                            <li><a href="#">Link 4</a></li>
                                        </ul>
                                    </div>
                                    <div class="large-6 columns">
                                        <ul>
                                            <li><a href="#">Link 5</a></li>
                                            <li><a href="#">Link 6</a></li>
                                            <li><a href="#">Link 7</a></li>
                                            <li><a href="#">Link 8</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#" data-dropdown="menu-3" data-options="is_hover:true">
                            <strong>Soft Goods</strong>
                        </a>

                        <div id="menu-3" data-dropdown-content="" class="large f-dropdown content row">
                            <div class="large-3 columns">
                                <!-- Heading 1 -->
                                <ul>
                                    <li><label>Heading 1</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <!-- Heading 2 -->
                                <ul>
                                    <li><label>Heading 2</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <!-- Heading 3 -->
                                <ul>
                                    <li><label>Heading 3</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                            <div class="large-3 columns">
                                <!-- Heading 4 -->
                                <ul>
                                    <li><label>Heading 4</label></li>
                                    <li><a href="#">Link 1</a></li>
                                    <li><a href="#">Link 2</a></li>
                                    <li><a href="#">Link 3</a></li>
                                    <li><a href="#">Link 4</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="show-for-large-up">
                        <a href="#" >
                            <strong>Riders</strong>
                        </a>
                    </li>
                    <li class="show-for-xxlarge">
                        <a href="#">
                            <strong>Dealers & Distributors</strong>
                        </a>
                    </li>
                    <li class="show-for-xxlarge-up">
                        <a href="#">
                            <strong>Company</strong>
                        </a>
                    </li>
                    <li class="show-for-xxlarge-up">
                        <a href="#">
                            <strong>Warranty</strong>
                        </a>
                    </li>
                    <li class="has-dropdown hide-for-xxlarge-up">
                        <a href="#">
                            <strong>Company</strong>
                        </a>
                        <ul class="dropdown">
                            <li class="show-for-medium-down"><a href="#">Riders</a></li>
                            <li><a href="#">Warranty</a></li>
                            <li><a href="#">Dealers & Distributors</a></li>
                        </ul>
                    </li>
                    <li class="spacer show-for-xlarge-up"></li>
                </ul>
            </section>
        </nav>
    </div>
</div>


<div class="row full-width">
    <div class="large-12 columns">

        <div id="carousel-region" class="row"></div>

        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <div class="large-4 small-6 columns">

                        <h4>Rider Updates</h4>
                        <hr>

                        <div class="row">
                            <div class="large-1 column">
                                <img src="http://placehold.it/50x50&text=[img]">
                            </div>

                            <div class="large-9 columns">
                                <h5><a href="#">Brett Tippie</a></h5>
                                <h6 class="subheader show-for-small">WHoa gimme another Red Bull!</h6>
                            </div>
                        </div>
                        <hr>

                        <div class="hide-for-small">
                            <div class="row">
                                <div class="large-1 column">
                                    <img src="http://placehold.it/50x50&text=[img]">
                                </div>

                                <div class="large-9 columns">
                                    <h5 class="subheader"><a href="#">Remy Metalier</a></h5>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="large-1 column">
                                    <img src="http://placehold.it/50x50&text=[img]">
                                </div>

                                <div class="large-9 columns">
                                    <h5 class="subheader"><a href="#">Rider Name</a></h5>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="large-1 column">
                                    <img src="http://placehold.it/50x50&text=[img]">
                                </div>

                                <div class="large-9 columns">
                                    <h5 class="subheader"><a href="#">Rider Name</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="large-4 small-6 columns">
                        <img src="http://placehold.it/300x465&text=Image">
                    </div>


                    <div id="posts-region" class="large-4 small-12 columns">
                        <h4>Blog</h4>
                        <hr>
                    </div>
                </div>
            </div>
        </div>


        <footer class="row">
            <div class="large-12 columns">
                <hr>
                <div class="row">

                    <div class="large-6 columns">
                        <p>© Copyright no one at all. Go to town.</p>
                    </div>

                    <div class="large-6 small-12 columns">
                        <ul class="inline-list right">
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                            <li><a href="#">Link 4</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>


    </div>
</div>
